.show_done_block {
    display: inline-block;
    margin-right: 40px;
}

.show_done_checkbox {
    margin-right: 10px;
}

.search_block {
    display: inline-block;
}

.search_input {
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 15px;
}

.search_input::placeholder {
    color: #cbc9c9;
    font-style: italic;
}

.search_button {
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 15px;
    background-color: #ff0000;
    color: #fff;
    font-style: italic;
}