.hide {
    display: none;
}

.button_add_task {
    display: block;
    background-color: transparent;
    border: 2px solid #00d4ff;
    border-radius: 8px;
    padding: .3rem 1rem;
    font-size: 16px;
    font-style: italic ;
    color: #00d4ff;
}

.content_add_task{
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 1rem 1rem;
}

.input_info{
    display: block;
    width: 95%;
    margin: .5rem auto 0rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

.input_info::placeholder{
    font-style: italic;
    color: #a6a6a6;

}

.label_info {
    font-style: italic;
    color: #fff;
    padding-left: 1rem;
}

.input_urgency{
    display: none;
}

.label_urgency {
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    color: #fff;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .3rem .5rem;
}

.button_ok{
    margin: 2rem 1rem 0rem 0rem;
    padding: .3rem 1rem;
    border-radius: 8px;
    border: 2px solid #00d4ff;
    background-color:  transparent;
    color:#00d4ff;
    transition: all .5s ease;
}

.button_ok:hover{
    background-color:  #00d4ff;
    color: #fff;
}