.task_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid silver;
    margin-top: 10px;
    transition: all 1s ease;
}

.task_block:hover {
    background-color: #565656;
}

.task_label {
    padding: 0px 20px;
    font-size: 20px;
}

.task_title_span {
    color: #fff;
}

/* IS COMPLETED BLOCK */

.completed1 {
    border: 3px solid #87ff74;
}

/* IS COMPLETED BUTTON */

.completed_button {
    border-radius: 50%;
    border: none;
    background-color: transparent;

}

.completedButton1 {
    background-color: #87ff74;
}

.completed_input0 {
    font-size: 30px;
    color: #dddddd;
}

.completed_input1 {
    font-size: 30px;
    color: #87ff74;
}


/* ACTION BUTTONS */

.action_button {
    border: none;
    padding: 5px 10px;
    border-right: 1px solid #dddddd;
}

.action_button:last-of-type {
    border-right: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.action_button:first-of-type {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}