.task_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid silver;
    margin-top: 10px;
}


.completed1 {
    border: 3px solid green;
}
.task_label {
    padding: 0px 20px;
    font-size: 20px;
}

.task_title_span {
    color: #fff;
}

/* ACTION BUTTONS */

.action_button {
    border: none;
    padding: 5px 10px;
    border-right: 1px solid #dddddd;
}

.action_button:last-of-type {
    border-right: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.action_button:first-of-type {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}